<!-- Linha de filtros e adicionar servico -->
<div class="linha-filtros" style="display: flex; justify-content: space-between; align-items: flex-end; margin-bottom: 1em;">
  <!-- Filtros do lado esquerdo -->
  <div class="filtros-container" style="display: flex; gap: 12px; align-items: center;">
    <span style="font-weight: bold;">Filtros</span>
    <input
      pInputText
      type="text"
      [(ngModel)]="termoBusca"
      placeholder="Buscar por Descrição"
      style="min-width: 480px;"
    />
  </div>

  <!-- Adicionar servico do lado direito -->
  <div class="adicionar-servico-container" style="display: flex; flex-direction: column; align-items: flex-end;">
    <span style="font-weight: bold; margin-bottom: 4px;">Adicionar serviço:</span>
    <p-button (click)="onServicoChange()" label="Novo" icon="pi pi-plus-circle" />
  </div>
</div>

<!--DIALOG DE CADASTRO-->
<p-dialog
  header="Cadastro de Serviço"
  [(visible)]="mostrarDialogServico"
  [modal]="true"
  [closable]="true"
  [responsive]="true"
  [style]="{width: '30vw'}">

  <form (ngSubmit)="adicionarServico()" #servicoForm="ngForm">
    <div class="p-field">
      <br>
      <label for="descricao">Descrição</label>
      <br>
      <input id="descricao" type="text" pInputText [(ngModel)]="novoServico.descricao" name="descricao" required/>
    </div>

    <div class="p-field">
      <br>
      <label for="valorUnitario">Valor Unitário</label>
      <br>
      <p-inputNumber
        id="valorUnitario"
        [(ngModel)]="novoServico.valorUnitario"
        name="valorUnitario"
        mode="currency"
        currency="BRL"
        locale="pt-BR"
        required>
      </p-inputNumber>
    </div>

    <br>
    <p-button label="Salvar" icon="pi pi-check" iconPos="right" type="submit"></p-button>
  </form>
</p-dialog>

<!-- LISTAGEM DE SERVICOS -->
<p-panel header="Servicos Cadastrados">
  <p-table
    [value]="servicosFiltrados"
    [paginator]="true"
    [rows]="20"
    [tableStyle]="{ 'min-width': '50rem' }"
    [rowsPerPageOptions]="[5, 10, 20]"
  >
    <ng-template #header>
      <tr>
        <th style="width:5%">Id</th>
        <th style="width:15%">Descrição</th>
        <th style="width:15%">Valor Unitário</th>
        <th style="width:15%">Ações</th>
      </tr>
    </ng-template>
    <ng-template #body let-servico>
      <tr>
        <td>{{ servico.id }}</td>
        <td>{{ servico.descricao }}</td>
        <td>{{ servico.valorUnitario }}</td>
        <td>
          <button pButton
            type="button"
            icon="pi pi-pencil"
            class="p-button-rounded custom-edit-button"
            (click)="editarServico(servico)">
          </button>
          <button pButton
                  type="button"
                  icon="pi pi-trash"
                  class="p-button-rounded p-button-danger"
                  style="margin-left: 0.5em"
                  (click)="removerServico(servico)">
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-panel>

<!--DIALOG DE EDICAO-->
<p-dialog
  header="Editar Serviço"
  [(visible)]="mostrarDialogEditarServico"
  [modal]="true"
  [closable]="true"
  [style]="{width: '350px'}">

  <form (ngSubmit)="salvarEdicao()" #editarForm="ngForm">
    <div class="p-field">
      <br>
      <label for="descricao1">Nome</label>
      <br>
      <input id="descricao1" type="text" pInputText [(ngModel)]="servicoEditando.descricao" name="nome1" required />
    </div>

    <div class="p-field">
      <br>
      <label for="valorUnitario1">Valor Unitário</label>
      <br>
      <p-inputNumber
        id="valorUnitario1"
        [(ngModel)]="servicoEditando.valorUnitario"
        name="valorUnitario1"
        mode="currency"
        currency="BRL"
        locale="pt-BR"
        required>
      </p-inputNumber>
    </div>

    <br>
    <p-footer>
      <button pButton type="submit" label="Salvar" icon="pi pi-check" iconPos="right"
              class="p-button-success"></button>
    </p-footer>
  </form>
</p-dialog>
